# Visual Studio
.vs/
.vscode/
*.vcxproj.user
*.suo

# Compilación
*.exe
*.dll
*.obj
*.o
*.lib
*.so

# Archivos de depuración
*.pdb
*.ipch
*.idb
*.lastcodeanalysissucceeded

# Otros archivos generados automáticamente
.DS_Store
Thumbs.db
ehthumbs.db

# Carpetas de compilación
build/
